<div class = "book_list">
  <ul>
  <div class = "row">
    <div class="col-sm-12 col-md-5 col-lg-4">   
      <li>
        <%= link_to book do %> 
          <%= image_tag("http://images.amazon.com/images/P/#{book.isbn}.jpg", :class => "img-responsive")%>
            <div class = "quote imgDescription">
              <p><%= book.quote%></p>       
            </div>
        <%end%> 
      </li>  
    </div>
        
    <div class="col-sm-12 col-md-7 col-lg-8">   
      <li>
        <div class = "quote">
          <p><%= book.quote%></p>       
        </div>
      </li>
    </div>
    
    <div class="col-sm-12 col-md-7 col-lg-8">   
      <li>
        <div class = "info">
          <p class = "title"><%= book.title %></p>  
          <p class = "author"> | <%= book.author %></p>
        </div>
      </li>
    </div>  
  </div>
  
  </ul>   
</div>
