<%= link_to 'New Book', new_book_path %>

<div class = "row">  
  <div class="col-sm-12 col-md-12 col-lg-12">    
    <div class = "featured_book"> 
      <ul>
        <div class = "row">
          <div class="col-sm-12 col-md-4 col-lg-4">    
          <li>
            <div class = "featured_cover">
              <%= image_tag("http://covers.openlibrary.org/b/isbn/#{Book.last.isbn}-L.jpg", :class => "img-responsive")%>
            </div>
          </li> 
          </div>  
          <div class="col-sm-12 col-md-8 col-lg-8"> 
          <li>
            <div class = "featured_quote">
              <%= Book.last.quote %>
            </div>
          </li>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">  
          <li>
            <div class = "featured_title">
              <%= Book.last.title %> 
            </div>
          </li>
          <li>
            <div class = "featured_author">
              <p> - <%= Book.last.author %> </p>   
            </div>
          </li>
          </div>  
       </ul> 
    </div>
  </div>
</div>  

    <% Book.all.each do |p| %>
      <div class = "cover_image">
        <%= link_to p do %> 
          <%= image_tag("http://covers.openlibrary.org/b/isbn/#{p.isbn}-M.jpg", :class => "img-responsive")%>
        <%end%> 
      </div>  
      <div class = "quote">
        <p><%= p.quote%></p>       
      </div>
      <div>
        <p><%=p.title%></p>
      </div>
      <div class = "author">
        <p><%=p.author%></p>
      </div>
    <%end%>

      

 