<h3>The Quotable Library</h3> 

<%= link_to 'New Book', new_book_path %>

<br>
    <% if @books.present? %>
      <%= render @books %>
    <% else %>
      <p>There are no products containing the term(s) <%= params[:search] %>.</p>
    <%end%>
    
    <div class = "featured_book">
      <div class = "featured_cover">
        <%= Book.last.cover %>  
      </div>  
      <div class = "featured_quote">
        <%= Book.last.quote %>
      </div>
      <div class = "featured_title">
        <%= Book.last.title %>   
      </div>
      <div class = "featured_author">
        <%= Book.last.author %>   
      </div>
    </div>

    <% Book.all.each do |p| %>         
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class = "thumbnail">
          <%= link_to p do %> 
            <%= image_tag("http://covers.openlibrary.org/b/isbn/#{p.isbn}-L.jpg")%>
          <%end%> 
          <div class = "caption">
            <p><strong><%= p.quote%></strong></p>       
          </div>
        </div> 
      </div>  
    <%end%>

      

 