<div class = "row">  
  <div class="col-sm-12 col-md-12 col-lg-12">    
    <div class = "featured_book"> 
      <ul>
        <div class = "row">
          <div class="col-sm-12 col-md-4 col-lg-5">    
          <li>
            <div class = "featured_cover">
              <%= image_tag("http://images.amazon.com/images/P/#{Book.last.isbn}.jpg", :class => "img-responsive") %>
            </div>
          </li> 
          </div>  
          <div class="col-sm-12 col-md-8 col-lg-7"> 
          <li>
            <div class = "featured_quote">
              <p>"<%= Book.last.quote %>"</p>
            </div>
          </li>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-7">  
          <li>
            <div class = "featured_title">
              <%= Book.last.title %>  
            </div>
          </li>
          <li>
            <div class = "featured_author">
              <p><%= Book.last.author %> </p>   
            </div>
          </li>
          </div>  
       </ul> 
    </div>
  </div>
</div>

<div class = "pics">  
  <% Book.all.each do |p| %>
    <div class = "index_images">
      <%= link_to p do %> 
        <%= image_tag("http://images.amazon.com/images/P/#{p.isbn}.jpg", :class => "img-responsive")%>
      <%end%>
    </div>
  <%end%>
</div> 
  
<%= render @books %>  

<%= link_to 'New Book', new_book_path %>    

 